.section {
  padding: 90px 0;
  background-color: #93cff7;
  box-sizing: border-box;
  width: 100%;
  margin: 0px auto;
}

.header {
  text-align: center;
  margin-bottom: 60px;
}

.header h2 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #2a2a72;
  margin: 10px auto;
  text-align: center;
}

.header p {
  font-family: 'Poppins';
  color: #9a9085;
}

.grid {
  width: 65%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.imageWrapper {
  overflow: hidden;
  margin-bottom: 20px;
}

.imageWrapper img {
  width: 100%;
  display: block;
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.card span {
  font-family: Poppins;
  font-size: 1.25rem;
  margin-bottom: 12px;
  font-weight: bold;
}

.card p {
  font-family: 'Baloo 2';
  color: #9a9085;
  font-size: 0.95rem;
  margin-bottom: 16px;
}

.readMore {
  font-family: Poppins;
  font-weight: 600;
  text-decoration: none;
  color: #2d2d2d;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.readMore:hover {
  color: #ff6b00;
}

@media screen and (max-width: 1024px) {
  .grid {
    width: 80%;
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
