.cardlist {
  width: 95%;
  margin: 10px auto;
}

.cardlist h4 {
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  color: #107be6;
  font-size: 20px;
}

.see-more {
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 50%;
}

.see-more button {
  font-family: 'Roboto';
  font-weight: bold;
  width: 100%;
  padding: 20px;
  cursor: pointer;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 24px;
}

.item-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease;
}

.item-card:hover {
  transform: translateY(-5px);
}

.item-image {
  width: 100%;
}
.item-image img {
  width: 100%;
}

.item-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9%;
}

.item-content h5 {
  margin: 0 0 8px;
  font-size: 1rem;
  color: #333;
  font-family: 'Roboto';
  font-weight: bold;
}

.item-content p {
  flex-grow: 1;
  margin: 0 0 12px;
  font-size: 0.95rem;
  color: #666;
  font-family: 'Roboto';
  font-weight: lighter;
}

.item-button {
  align-self: flex-start;
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Roboto';
  font-weight: bold;
  color: white;
  background-color: #09ccea;
  text-decoration: none;
}

.item-button:hover {
  background-color: #2e3ef6;
  color: #fff;
}

@media screen and (min-width: 900px) {
  .cardlist {
    width: 80%;
    margin: 10px auto;
  }
  .cardlist h4 {
    font-size: 40px;
  }

  .list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
  }
}
