/* DETAIL PAGE */
.detail {
  width: 50%;
  margin: 80px auto;
}

.detailImage {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 30px;
}

.detailContent h1 {
  font-family: Poppins;
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.date {
  font-size: 0.9rem;
  color: #9a9085;
  display: block;
  margin-bottom: 24px;
}

.detailContent p {
  font-family: 'Baloo 2';
  line-height: 1.8;
  font-size: 1rem;
  color: #444;
}

@media screen and (max-width: 768px) {
  .detail {
    width: 90%;
  }
}
