.domain-pricing {
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #1ec2f8;
}

.domain-pricing h2 {
  margin: 20px auto;
  font-family: 'Roboto';
  font-weight: bold;
  color: rgb(255, 254, 254);
}
.domain-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(20px, 1fr));
  gap: 10px;
  margin: auto;
}

.domain-card {
  border: 2px solid #faf9fc;
  background-color: white;
  border-radius: 15px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* background: linear-gradient(180deg, #eeeef1 0%, #d0d0d6 100%); */
}

.domain-name {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
}

.domain-original-price {
  font-size: 16px;
  color: black;
  text-decoration: line-through;
  margin-bottom: 5px;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 15px;
}

.domain-discounted-price {
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
}

/* Tablet (max-width: 1024px) */
@media screen and (min-width: 1024px) {
  .domain-pricing {
    width: 100%;
  }

  .domain-container {
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
  }

  .domain-card {
    width: 30px;
    padding: 10px;
  }

  .domain-name {
    font-size: 20px;
  }

  .domain-original-price {
    font-size: 14px;
  }

  .domain-discounted-price {
    font-size: 18px;
  }
}

/* Mobile (max-width: 768px) */
@media screen and (min-width: 768px) {
  .domain-pricing {
    box-sizing: border-box;
    padding: 40px 20px;
  }

  .domain-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .domain-card {
    max-width: 100%;
    width: 100%;
    padding: 20px;
  }

  .domain-name {
    font-size: 18px;
  }

  .domain-original-price {
    font-size: 12px;
  }

  .domain-discounted-price {
    font-size: 16px;
  }
}
